.edit_button,
.delete_button {
  width: 2rem;
  height: 2rem;
}

.edit_button:hover {
  color: green;
}

.delete_button:hover {
  color: red;
}
.project_edit,
.project_admin {
  display: flex;
}
.form_project_edit_form,
.project_map {
  display: flex;
  flex-direction: column;
}
